* {
    margin: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    border: 1px solid black;
    height: 930px;
    width: 900px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
}

#display {
    border: 1px solid red;
    height: 100px;
    width: 650px;
    align-self: center;
    text-align: center;
    padding: 30px;
    font-family: arial, sans-serif;
    font-size: 40px;
}

input {
    font-size: 70px;
    margin: 35px;
    background-color: black;
    color: white;
    border-radius: 150px;
    
}

input.operator {
    background-color: rgb(228, 154, 16);
}

.row-one {
    display: flex;
    justify-content: space-around;
}

.row-two {
    display: flex;
    justify-content: space-around;    
}

.row-three {
    display: flex;
    justify-content: space-around;
}

.row-four {
    display: flex;
    justify-content: space-around;
}

.row-five {
    display: flex;
    margin-left: 78%;
}